* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
   


.navbar {
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.jrf82BrfUlBS15n-X3tTLgHaE9?pid=Api&P=0&h=220");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.nav-logo{
   
    height: 60px;
    width: 100px;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 2px solid white;
}
.address-icon {
    display: flex;
    align-items: center;
}
.add-f {
     color: #cccccc;
     font-size: 0.85rem;
     margin-left: 15px;

}
.add-s {
    font-size: 1rem;
    margin-left: 3px;
    
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 600px;
    height: 40px;
    border-radius: 3px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.search-input {
    width:100%;
    font-size: 1rem;
}
.search-icon {
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd86;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color : #0f1111;
}

span {
    font-size: 0.7rem;
}
.nav-s {
    font-weight: 700;
}
.nav-search :hover {
    border: 2px solid orangered;
}
.nav-cart i{
    font-size: 30px;
    
}
.nav-cart i{
    font-size: 0.8rem;
    font-weight: 700;
    
}
.panel {
    display:flex;
    
     height: 40px;
     background-color: #222f3d;
     color: white;
     align-items: center;
     justify-content: space-evenly;

}
.panel-ops p {
    display:inline;


}
.panel-ops  {
    width: 70%;
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 15px;

}
.panel-deals {
    font-size: 0.9rem;
}
.he-sec {
     background-image: url("https://m.media-amazon.com/images/I/71x5OKagN+L._SX3000_.jpg");
     height: 350px;
     background-size: cover;
     display: flex;
     align-items: flex-end;
}
.heo-ms {
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 25px;
    width: 80%;
    margin-bottom: 25px;
}
.heo-ms a {
     color: #007185;
}

.shop-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FE0154;
   
}
.box {
    height: 400px;
   
    width: 23%;
    background-color: white;
    padding:  20px 0px 15px;
    margin-top:14px ;
}
.box-img {
     height: 300px;
     background-size: cover;
    
    margin-top:1rem ;
    margin-bottom:1rem ;
}
.box-con {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-con  p {
    color: #007185;
}


footer {
    margin-top: 15px;
}
.panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
}
.panel2 {
    display: flex;
    background-color: #222f3d;
    color: white;
    height: 500px;
    justify-content: space-evenly;
}

.footer-col ul  a{
    text-decoration: none;
    list-style-type: none;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dddddd;
    
}
.footer-col ul {
    margin-top: 20px;
}
.panel3 {
    background-color:#222f3d ;
    color: white;
    border-top: 0.6px soild white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
       background-image: url("https://tse3.mm.bing.net/th/id/OIP.jrf82BrfUlBS15n-X3tTLgHaE9?pid=Api&P=0&h=220");
    height: 50px;
    width: 100px;
    background-size: cover;
}


.panel4 {
    background-color:#222f3d ;
    color: white;
    height: 100px;
}
.pages {

    font-size: 0.7rem;
    text-align: center;

}
.copy {
    padding-top: 25px;
     font-size: 0.7rem;
     text-align: center;


}